DATABASE_URL=postgres://USER:PASSWORD@db/DBNAME
JWT_SECRET=
ROCKET_PORT=
ROCKET_ADDRESS=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_REDIRECT_URI=
SQLX_OFFLINE=true
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=