ROCKET_PORT=8000
ROCKET_ADDRESS=0.0.0.0
ROCKET_SECRET_KEY=

OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_REDIRECT_URI=

DATABASE_URL=postgres://USER:PASSWORD@db/DBNAME
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
SQLX_OFFLINE=true

JWKS_URI=https://www.googleapis.com/oauth2/v3/certs
JWT_SECRET=

SESSION_DURATION=
BACKUP_AVATAR=https://api.dicebear.com/7.x/bottts/svg

STRIPE_SECRET=